div {

    text-align: center;

}

nav {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav li {
    font-size: 15px;
    display: inline-block;
    margin-right: 5px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }

